var credentials = {
	// https://dev.twitter.com/apps/new to generate values
	// rename file to credentials.js
	consumer_key: 'FILL ME IN',
	consumer_secret: 'FILL ME IN',
	access_token_key: 'FILL ME IN',
	access_token_secret: 'FILL ME IN'
};

module.exports = credentials;
